.video-avatar{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.videocard-header{
    display: flex;
    font-size: 0.8rem;
}
.video-card-footer {
    display: flex;
    padding: 1rem;
}
.video-card-footer{
    font-size: 0.8rem;
    margin-left: 1rem;
    margin-top:  -0.8rem;;
}
.channel-name{
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 0%;
}
.footer-margin{
    margin-right: 1rem;
}
.videocard-container{
    margin-right: 1rem;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.model-icon{
    font-size:1.3rem;
    position: fixed;
    margin-left: 17rem;
    margin-top: 1rem;;
}
@media (max-width: 500px) { 
    .videocard-container{
        width: 50%;
        font-size: 0.2rem;
    }
    .model-icon{
        font-size:1.3rem;
        position: fixed;
        margin-left: 9rem;
        margin-top: 1rem;;
    }
 }