.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid black;
    position:  sticky;
    top: 0;
    width: 97.3%;
    z-index:  100;
    background-color: white;
}
.header__left{
    font-size: 1.3rem;
    display: flex;
}
.header__logo{
    font-size: 1.5rem;
    display: flex;
    margin-left: 1.5rem;
}
.header_input{
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid black;
}
.header-input{
    flex: 1;
    border: none;
    font-size: 1.3rem;   
}
.header__icons{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}
.header__button{
    width: 3rem;
    background-color: #fafafa;
    font-size: 1.1rem;
    position: absolute;
    right: 25%;
}