/** @format */

.playlistvideo-container {
  flex: 0.9;
  background-color: #f9f9f9;
  padding: 40px 20px;
  padding-bottom: 0;
  display: flex;
  width: 90%;
}
.playlist-container {
  display: flex;
  height: 95vh;
}
.playlistcard-container {
  margin: 1rem;
  text-align: center;
  text-decoration: none;
  width: 50%;
  height: 50%;
}
.playlistcard-container:hover {
  box-shadow: 2px 2px 5px white;
}
.playlist-name {
  margin: 1rem;
  text-decoration: none;
}
.delete-icon {
  text-align: center;
}
.playlist-videocard-container {
  border: 1px solid gray;
  width: 80%;
  text-align: center;
}
.playlist-icon {
  text-align: center;
  text-decoration: none;
}
.playlist-img {
  width: 100%;
}
.empty-playlist-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.delete-icon {
  margin: 1rem;
  font-size: 2rem;
}
.playlistcard-video {
  display: flex;
  margin: 3rem;
}
.playlistvideo-contain {
  display: flex;
  width: 40%;
  margin: 3rem;
}
