/** @format */

.sidebar-container {
  flex: 0.05;
  justify-content: space-between;
  width: 10rem;
  border-right: 2px solid white;
}
.sidebar-icons {
  padding: 1rem;
  text-decoration: none;
  display: flex;
  color: #e1faf9;
}
